.discrpBlock {
    padding: 11px;
}

.statusStyle {
    display: flex;
    margin-top: 9px;
    max-width: 460px;
    padding-bottom: 10px;
    border-bottom: solid 1px white;
    border-top: solid 1px white;
}
.statusText {
   text-align: center;
   height: auto;
   margin-top: 22px;
   padding-left: 10px;
   transition: 222ms;
}
.statusText:hover {
    font-size: 20px;
}
.mainPhoto {
    max-width: 300px;
    max-height: 300px;
    border-radius: 5%;
}
.mainLoadPhoto {
    display: flex;
    border-top: solid 1px white;
    max-width: 460px;
    margin-top: 9px;
    flex-wrap: wrap;
}
.inputPhoto {
    margin-top: 25px;
    margin-left: 11px;
    transition: 222ms;
}
.inputPhoto:hover {
    background-color: aqua;
    color: blueviolet;
}

.contact {
    padding-left: 12px;
}
.contactLink {
    color: white;
}
@media (max-width:1200px) {
    .mainPhoto {
        width: 250px;
        height: 250px;
        border-radius: 5%;
    }
}

@media (max-width:768px) {
    .mainPhoto {
        width: 166px;
        height: 166px;
        border-radius: 5%;
    }
}
@media (max-width:360px) {
    .mainPhoto {
        width: 120px;
        height: 120px;
        border-radius: 5%;
    }
    .statusText {
        font-size: 10px;
    }
}