.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1220px;

  grid-template-areas: 
  'h h'
  'n c';

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 9px;
}

.header {
  grid-area: h;
  background-color: aqua;
}
.header img{
  width: 50px;
  border-radius: 50%;
}

.nav {
  grid-area: n;
  background-color: rgb(11, 65, 65);
}

.content {
  grid-area: c;
  background-color: rgb(149, 158, 29);
}
