.app-wrapper {
  margin: 0 auto;
  display: grid;
  max-width: 1220px;

  grid-template-areas: 
  'h h'
  'n c';

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 9px;
}

.app-wrapper-content {
  max-width: 100%;
  grid-area: c;
  background: linear-gradient(to bottom, #7fa9f0, #109e54);
}
@media (max-width:768px) {
  .app-wrapper-content {
    max-width: 674px;
    grid-area: c;
    background: linear-gradient(to bottom, #7fa9f0, #109e54);
  }
}



