.nav {
  grid-area: n;
  background: linear-gradient(to bottom, #123d85, #1aa85f);
  padding: 20px;
}

.nav a {
  color: azure;
  cursor: pointer;
  text-decoration: none;
}
.nav a:focus {
  color: rgb(251, 255, 0);
}
  